.buttonL {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-sizing: border-box;
}

.buttonL-filled {
  background-color: #0a84ff;
  color: #ffffff;
  border: none;
}

.buttonL-filled:hover {
  background-color: #007be5;
  transform: scale(1.01);
  box-shadow: 0 3px 5px rgba(10, 132, 255, 0.2);
}

.buttonL-filled:active {
  background-color: #0066c2;
  box-shadow: 0 1px 3px rgba(10, 132, 255, 0.15);
  transform: scale(1);
}

.buttonL-outlined {
  background-color: #ffffff;
  color: #0a84ff;
  border: 1px solid #0a84ff;
}

.buttonL-outlined:hover {
  background-color: #f8fbff;
  transform: scale(1.01);
  box-shadow: 0 2px 4px rgba(10, 132, 255, 0.15);
}

.buttonL-outlined:active {
  /* background-color: rgba(10, 132, 255, 0.08); */
  box-shadow: 0 1px 3px rgba(10, 132, 255, 0.1);
  transform: scale(1);
}

.buttonL-disabled {
  background-color: #ffffff;
  color: #969696;
  border: 1px solid #969696;
  cursor: auto;
}
